body {
  font-family: Poppins, sans-serif;
  margin: 0;
  background: #f8f8fc;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 40px;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.logo {
  font-weight: 700;
  font-size: 26px;
  color: #ff4f81;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #ff4f81;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
  align-items: center;
  background: white;
}

.hero-text h2 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-img {
  width: 380px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* BUTTON */
.btn {
  background: #ff4f81;
  padding: 12px 28px;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
}

.btn:hover {
  background: #e4366f;
}

/* PRODUCTS GRID */
.grid {
  padding: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.product-card {
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
}

.product-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
}

/* CART */
.cart-box {
  padding: 30px;
}

/* PAYMENT */
.payment-box {
  background: white;
  width: 380px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.center {
  display: block;
  text-align: center;
  margin: 20px auto;
}
